{% extends "index.html" %}
{% block content %}
	
<h2>{{ pageTitle }}</h2>
<div class="concept-text">
	<p>
		What social networks, music providers, publicits want you to see products that might be closed/related to your personality. 
		<p>
			<b>$!*# them !!</b> 
		</p>
		From now, on this website, we promise to never show you a video compatible with you. YES! We won't suggest any videos related to the one your currently watching (and that you has not choosen by the way). Who's choosing? Nobody, except a generator that picks randomly a video on Youtube. 
	</p>
</div>
{% endblock %}

{% block footer %}{% endblock %}
