{% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="{{ path }}css/style.css" type="text/css" media="screen" />
    <!--
    <link rel="stylesheet" href="{ pathStyle }}css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="{ pathStyle }}css/jquery.fancybox-1.3.4.css" type="text/css" />
    -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.6.1.min.js"><\/script>')</script>

    <script src="js/jquery.smoothscroll.js"></script>
    <script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/jquery.easing-1.3.pack.js"></script>
    <script src="js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="js/init.js"></script>

    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script>
    var lastClickedElement = null;
    function SubmitVote(clicked,currentVideoId, getBored) {
        FB.getLoginStatus(function(response) {
            //check if the user is connect, only if he is, he can vote
            if (response.status === 'connected') { 
                if(remainingTime() > 0){
                    var refreshFunction = setInterval(function (){
                        var text = 'You have still '+remainingTime()+'s to watch for being able to vote';
                        document.getElementById("not-authorized").innerHTML = text;
                        if(remainingTime() <= 0){
                            document.getElementById("not-authorized").innerHTML = 'You can vote!';//change what is diplayed
                            clearInterval(refreshFunction);
                            setTimeout(function(){
                                    document.getElementById("not-authorized").innerHTML = '';//after 10sec, remove text
                                },10000);
                        }
                    }, 1000);//refresh every sec
                }else{
                    if(lastClickedElement == null || lastClickedElement != clicked){
                        $.post("doVote", {hasGotBored : getBored} ,
                            function() {
                                clicked.style.fontWeight = "bold";//change style

                                //increment
                                var elementToIncrement = getBored == 'True' ? "bored" : "liked";
                                document.getElementById(elementToIncrement).innerHTML = parseInt("1")+parseInt(document.getElementById(elementToIncrement).innerHTML);

                                if(lastClickedElement != null){
                                    lastClickedElement.style.fontWeight = "normal";

                                    //decrement
                                    var elementToDecrement = getBored == 'False' ? "bored" : "liked";
                                    document.getElementById(elementToDecrement).innerHTML = parseInt(document.getElementById(elementToDecrement).innerHTML)-parseInt("1");
                                }
                                lastClickedElement = clicked;
                            });
                    }
                }
            }else {
                // the user isn't logged in to Facebook.
                document.getElementById("not-authorized").innerHTML = 'Please login for voting';
            }
        });
    }
    </script>
    
{% endblock %}


