<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        {% block head %}{% include 'head.html' %}{% endblock %}
    </head>
<body>

<!-- header-wrap -->
<div id="header-wrap">
    <div class="headerTitle">
        <a href="{{ path }}">{{ pageTitle }}</a>
    </div>

    <header>
        <nav>
            <ul>
                <li><a href="{{ path }}">Home</a></li>
                <li><a href="{{ path }}concept/">Concept</a></li>
            </ul>
        </nav>
    </header>
</div>

<!-- content-wrap -->
<div class="content-wrap">
 <!-- main -->
    <section id="main">
        {% block content %}
           <!-- Video infos
            <div>
                <a href="http://www.youtube.com/watch?v={{ videoId }}">{{ searchTerm }} - {{ videoId }}</a>
            </div>
            -->

            <div class="videoBlock">

                <div class="right-content">
                    <a href="">
                        <img width="170" alt="Miniature" src="http://i1.ytimg.com/vi/{{ nextVideoId }}/mqdefault.jpg">
                    </a>
                    <br>
                    <a href="">Lose more time</a>
                </div>  
               
                <div class="mainVideoBlock">
                    <div class="shared-content">
                        {% block shared %}{% include 'shared.html' %}{% endblock %} 
                    </div>

                    <!-- <iframe width="600px" height="340px" src="http://www.youtube.com/embed/{{ currentVideoId }}?autoplay=0" frameborder="0" allowfullscreen></iframe> -->
                    {% block youtube %} {% include 'youtube.html' %} {% endblock %}

                    <div class="vote-content">
                        <a href="javascript:;" onclick="SubmitVote(this,'{{ currentVideoId }}','True');">I was bored</a>
                        (<div id="bored" style="display: inline;">{{ nbBored }}</div>) 
                        |
                        <a href="javascript:;" onclick="SubmitVote(this,'{{ currentVideoId }}','False');">I liked it</a> 
                        (<div id="liked" style="display: inline;">{{ nbLiked }}</div>)
                        <div class="not-authorized" id="not-authorized" style="text-align: center; width: 145px; line-height: 100%;"></div>
                    </div>   

                    <div class="facebook_login">
                        {% block facebook %}{% include 'facebook.html' %}{% endblock %} 
                    </div> 
                    
                    <!-- <div class="bottomButton">
                        {% for href, caption, target in [('', 'Lose more time', ''), (wikilink, 'Stop losing time', 'target="_blank"')] %}
                            <a href="{{ href }}" class="download-btn" {{ target }}>{{ caption }}</a>
                        {% endfor %}
                    </div> -->
                </div>
            </div>
        {% endblock %}
    </section>
</div>

<!-- footer -->
<footer>
    <div class="footer-content">
        {% block footer %} {% include 'footer.html' %} {% endblock %}
    </div>
</footer>

</body>
</html>