<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    {% block head %}{% include 'head.html' %}{% endblock %}
	</head>
<body>

<!-- header-wrap -->
<div id="header-wrap">
    <div class="headerTitle">
        <a href="{{ url }}">{{ title }}</a>
    </div>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url }}">Home</a></li>
                <li><a href="{{ url }}concept/">Concept</a></li>
            </ul>
        </nav>
    </header>
</div>

<!-- content-wrap -->
<div class="content-wrap">
 <!-- main -->
    <section id="main">
        {% block content %}
           <!-- Video infos
			<div>
				<a href="http://www.youtube.com/watch?v={{ videoId }}">{{ searchTerm }} - {{ videoId }}</a>
			</div>
            -->

			<div class="videoBlock">
                <a href="">
                    <img class="nextImage" width="120" alt="Miniature" src="http://i1.ytimg.com/vi/{{ nextVideoId }}/mqdefault.jpg">
                </a>

    	        {% block video %}
                <iframe width="600px" height="340px" src="http://www.youtube.com/embed/{{ currentVideoId }}?autoplay=0" frameborder="0" allowfullscreen></iframe>   
    			{% endblock %}

    			<div class="bottomButton">
                    {% for href, caption, target in [('', 'Lose more time', ''), (wikilink, 'Stop losing time', 'target="_blank"')] %}
                        <a href="{{ href }}" class="download-btn" {{ target }}>{{ caption }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </section>
</div>

<!-- footer -->
<footer>
    <div class="footer-content">
        <!--
        <ul class="footer-menu">
            <li><a href="#main">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#about-us">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        -->
        <p class="footer-text">
            {% block footerInfos %}
                You are losing your time on '{{ videoTitle }}' <br>
            {% endblock %}
            Copyright 2011 PageOne. &nbsp;&nbsp;&nbsp; Designed by <a href="http://www.styleshout.com/">Styleshout</a>
        </p>
    </div>
</footer>

</body>
</html>