{% extends "index.html" %}
{% block content %}
	
<h2>{{ pageTitle }}</h2>
<div class="podium">

    <table border="1">
    	<tr>
    		<th>rank</th>
			<th>userId</th>
			<th>number</th>
			<th>date</th>
    	</tr>
    	{% set rank = 1 %}
   		{% for userId, number, date in ranking %}
			<tr>
					<td>{{ rank }}</td> {% set rank = rank + 1 %}
				<td>{{ userId }}</td>
				<td>{{ number }}</td>
				<td>{{ date }}</td>
			</tr>
    	{% endfor %}
	</table> 

</div>
{% endblock %}

{% block footer %}{% endblock %}
